<h2>Link</h2>

<h3>Title: <%= @link.title %></h3>

<h3>URL: <%= @link.url %></h3>

<% if @link.text %>
<h3><%= @link.text %></h3>
<% end %>

<h3>Created by: <%= link_to @link.user.username, user_url(@link.user.id) %></h3>

<% if @current_user.id == @link.user_id %>
  <%= link_to "Edit link", edit_link_url(@link.id) %>
<% end %>

<br><br>
<h4>Comments</h4>

<% if @link.comments.count == 0 %>

<p>No comments yet</p>

  <form action="<%= comments_url %>" method="post">
    <input type="text" name="comment[content]">
    <input type="hidden" name="comment[link_id]" value="<%= @link.id %>">
  <input type="submit" value="add comment">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </form>

<% else %>

  <% hash = @link.comments_by_parent %>

  <% @first_comment = hash[nil] %>

  <% @first_comment.each do |child|%>
    <%= render :partial => "comments", :locals => { :comment => child, :children => hash[child.id] } %>
  <% end %>


<% end %>
