<h2>Create a new Sub</h2>

<h4>Moderator: <%= @moderator.username %></h4>


<form action="<%= subs_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Name
    <input type="text" name="sub[name]">
  </label>
  <input type="hidden" name="sub[user_id]" value="<%= @moderator.id %>">

  <br><br>
  <h4>Add links to your sub</h4>
  
  <ul>
  <% 5.times do |i| %>
  <li>
    <label for="<%= "sub_links_attributes_#{i}_title" %>">Title</label>
    <input type="text" name="<%= "sub[links_attributes][#{i}][title]" %>" id="<%= "sub_links_attributes_#{i}_title" %>">
    <label for="<%= "sub_links_attributes_#{i}_url" %>">URL</label>
    <input type="text" name="<%= "sub[links_attributes][#{i}][url]"%>" id="<%= "sub_links_attributes_#{i}_url" %>">
    <label for="<%= "sub_links_attributes_#{i}_text" %>">Text</label>
    <input type="text" name="<%= "sub[links_attributes][#{i}][text]" %>" id="<%= "sub_links_attributes_#{i}_text" %>">
    <input type="hidden" name="<%= "sub[links_attributes][#{i}][user_id]" %>" id="<%= "sub_links_attributes_#{i}_user_id" %>" value="<%= @moderator.id %>">
  </li>
  <% end %>
  </ul>
  <input type="submit" value="create new sub">
</form>